# Entornos virtuales
.venv/
env/
venv/
ENV/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos específicos de Visual Studio Code
.vscode/

# Archivos de sistema de Linux / macOS
.DS_Store
.directory

# Archivos de distribución / paquetes
dist/
build/
*.egg-info/